<div class="col-md-6 col-md-offset-3">
  <h2>Login</h2>

  <div class="alert alert-danger" role="alert" ng-repeat="error in errors">{{ error }}</div>
  <form name="form" ng-submit="login()" role="form">
    <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" class="form-control" ng-model="username" required/>
      <span ng-show="form.username.$dirty && form.username.$error.required"
            class="help-block">Username is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="form-control" ng-model="password" required/>
      <span ng-show="form.password.$dirty && form.password.$error.required"
            class="help-block">Password is required</span>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Login</button>
      <a ui-sref="signup" class="btn btn-link">Register</a>
    </div>
  </form>
</div>