<div>
  <ul class="nav nav-pills">
    <li class="pull-right" role="presentation"><a ui-sref="logout">logout</a></li>
  </ul>

  <div class="panel panel-default">
    <div class="panel-heading">
      TODOs
    </div>

    <div class="panel-body input-group">
      <label for="name" class="sr-only">Name</label>
      <input class="form-control" id="name" placeholder="Name" type="text" ng-model="newListName" required autofocus>
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="addList()">New List</button>
      </span>
    </div>

    <div class="list-group">
      <button type="button" class="list-group-item" ng-repeat="todoList in todoLists"
              ui-sref="detail({id:todoList.id})">
        {{ todoList.name }}
      </button>
    </div>

  </div>
</div>