<div>
  <ul class="nav nav-pills">
    <li role="presentation"><a ui-sref="todo">Back</a></li>
    <li class="pull-right" role="presentation"><a ui-sref="logout">logout</a></li>
  </ul>

  <div class="panel panel-default">
    <div class="panel-heading">
      <p>TODO Detail</p>
      <div class="input-group">
        <input class="form-control" ng-model="todoList.name" required ng-change="todoList.put()" ng-model-options="{debounce: 1000}">
        <span class="input-group-btn">
          <button class="btn btn-danger" ng-click="archive(todoList)">Archive</button>
        </span>
      </div>
    </div>

    <div class="panel-body input-group">
      <label for="name" class="sr-only">Name</label>
      <input class="form-control" id="name" placeholder="Name" type="text" ng-model="taskText" required autofocus>
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="addTask()">New Task</button>
      </span>
    </div>

    <ul class="list-group">
      <li class="list-group-item" data-ng-repeat="task in todoList.tasks">
        <div class="input-group">
          <span class="input-group-addon">
            <input type="checkbox" ng-model="task.done" ng-click="task.put()">
          </span>
          <input type="text" class="form-control done-{{ task.done }}" ng-model="task.text" ng-change="task.put()"  ng-model-options="{debounce: 1000}">
          <span class="input-group-btn">
            <button class="btn btn btn-danger" ng-click="delete(task)">Delete</button>
          </span>
        </div>
      </li>
    </ul>

  </div>
</div>