{% load pipeline %}

<!doctype html>
<html lang="en" ng-app="todoApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TODO list</title>
  <base href="/">
  {% stylesheet 'main' %}
</head>
<body>
  <div class="container" ui-view></div>
  {% javascript 'main' %}
</body>
</html>